.pantalla {
    width: 100%;
    height: 100vh;

   
}

/* Pantallas HD (laptops y monitores medianos) */
@media (min-width: 1024px) and (max-width: 1919px) {
    .pantalla {
        grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
      grid-template-columns: 1fr; 
       
    }
  }

  /* Tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    .pantalla {
        grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 1fr;
    }
  }
  /* Teléfonos */
@media (max-width: 767px) {
    .pantalla {
        grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
      grid-template-columns: 1fr;
    }
  }